.page-footer {
    background-color: var(--footer-hero-background-color);
    padding-top: 60px;
    padding-bottom: 60px;
    
    &__container {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    @media screen and (min-width: $tablet) {
        width: $tablet;
    }
    @media screen and (min-width: $desktop) {
        width: $desktop;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;

    }
    }


    &__call {
    display: block;
    text-transform: uppercase;
    color: var(--primery-background-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.17;
    margin-bottom: 20px;
}
}
.address {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 60px;
    @media screen and (min-width: $tablet) {
        margin-right: 165px;
    }
    @media screen and (min-width: $desktop) {
        margin-right: 70px;
        margin-bottom: 0;
        align-items: flex-start;
    }
}


.footer__logo {
  

    color: var(--primery-background-color);
    margin-bottom: 20px;
}

.footer-list {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.71;
    
    text-align: center;

    @media screen and (min-width: $desktop) {
        text-align: left;
        
    }

    &__item:not(:last-child) {
        margin-bottom: 9px;
        
    }
    
    &__link {
        color: rgba(255, 255, 255, 0.6);
    }
    
    &__link--address {
        color: var(--primery-background-color);
    }
}
.footer-social {
    margin-bottom: 60px;
    display: flex;
    align-items: center;
    flex-direction: column;
    @media screen and (min-width: $tablet) {
        margin-top: 12px;
    }
    @media screen and (min-width: $desktop) {
    align-items: flex-start;
    margin-bottom: 0;}
}
.footer-address-social {
    @media screen and (min-width: $tablet) {
        display: flex;
        justify-content: center;    
}
}

.footer-sign-form {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;

    @media screen and (min-width: $desktop) {
        align-items: flex-start;
        width: 570px;
        margin-top: 12px;
    }
}

.footer-form {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;

    @media screen and (min-width: $desktop) {
        flex-direction: row;
    }
   
    &__input {
        border: 1px solid rgba(255, 255, 255, 0.3);
        border-radius: 4px;
        background-color: transparent;
        width: 100%;
        padding: 15px 16px;
        height: 50px;
        font-size: 16px;
        line-height: 1.25;
        color: inherit;
        margin-bottom: 20px;
        @media screen and (min-width: $tablet) {
            width: 450px;
        }
        @media screen and (min-width: $desktop) {
            width: 100%;
            margin-right: 12px;
            margin-bottom: 0;
        }

    }
    &__icon {
        fill: #fff;
        margin-left: 10px;
        height: 24px;
    }
}

