.page-header {
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.02em;
    line-height: 1.14;
    border-bottom: 1px solid #ececec;
    &__container {
        position: relative;
    } 
}
.header-menu{
    display: flex;
    justify-content: flex-end;
    
    width: 100%;
    
    justify-content: space-between;
    @media screen and (min-width: $tablet) {
        margin-left: 84px; 
    }
    
    @media screen and (max-width: 767px) {
        position: absolute;
        top: 0;
        left: 0;
        
        min-height: 796px;
        background-color: #fff;
        padding: 48px 40px;
        opacity: 1;
        
        flex-direction: column;
        opacity: 1;}
    

    &.is-close{
        @media screen and (max-width: 767px){
        opacity: 0;
        pointer-events: none;}
        }
}
.navigation {
    display: flex;
    // margin-right: 84px;
    @media screen and (max-width: 767px) {
    margin-bottom: auto;
}
    
}
.page-header__container {
    
    display: flex;
    align-items: center;
    height: 60px;
    @media screen and (min-width: $tablet) {
        height: 80px;
    }
   
}
.site-nav {
    font-weight: 500;
    font-size: 40px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    @media screen and (min-width: $tablet) {
        display: flex;
        font-size: 14px;
        line-height: 1.14;
        align-items: center;
        justify-content: space-between;
    }
}
.site-nav__link {
        display: block;
        @media screen and (min-width: $tablet) {
            padding-bottom: 32px;
            padding-top: 32px;
        }
    
        color: var(--title-text-color);
    
        transition: color 250ms var(--time-function);
    &:hover,
    &:focus {
        color: var(--accent-color);
    }
    &--current {
        @media screen and (min-width: $tablet) {
        color: var(--accent-color);
        position: relative;}
    }
    &--current::after {
        @media screen and (min-width: $tablet) {
        content: '';
        background-color: var(--accent-color);
        height: 4px;
        width: 100%;
        border-radius: 2px;
        position: absolute;
        bottom: -1px;
        left: 0;}
    }
}
.site-nav__item:not(:last-child) {
    @media screen and (max-width: 767px) {
        margin-bottom: 32px;
    }
    @media screen and (min-width: $tablet) {
        margin-right: 50px;}
}

.contacts-nav {
    @media screen and (max-width: 767px) { 
    margin-bottom: 64px;
    }
    @media screen and (min-width: $tablet) {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;

    }
    @media screen and (min-width: $desktop) {
        
        flex-direction: row-reverse;
        justify-content: center;}
}
.contacts-nav__link {

    fill: var(--main-text-color);
    transition: color 250ms var(--time-function);
    font-weight: 500;
    line-height: 1.17;
    letter-spacing: 0.02em;
    font-size: 24px;

    @media screen and (min-width: $tablet) {
        font-size: 12px;
    }
    @media screen and (min-width: $desktop) {
        font-size: 14px;
    }

    &:hover,
    &:focus {
        color: var(--accent-color);
    }
    &:hover .icon-header,
    &:focus .icon-header {
        color: var(--accent-color);
        fill: var(--accent-color);
    }
    &--phone {
        @media screen and (max-width: 767px) {
        font-size: 34px;
        color: var(--accent-color);
        margin-bottom: 32px;
        }
        @media screen and (min-width: $tablet) {
            margin-top: 10px;
        }
        @media screen and (min-width: $desktop) {
            margin-top: 0;
            margin-left: 30px;
        }
    }
}

.contacts-nav__item {
    display: flex;
    align-items: center;
    justify-self: center;

    &:not(:last-child) {
        @media screen and (max-width: 767px) {
            margin-right: 50px;}
    }
}

.icon-header {
    fill: var(--main-text-color);
    margin-right: 8px;
    transition: fill 250ms var(--time-function);
    @media screen and (max-width: 767px) {
    display: none;}
}

.header-social {
    display: flex;
    align-items: center;
    padding-right: -10px;
    padding-left: -10px;
    &__item {
        padding-left: 10px;
        padding-right: 10px;
        border-left: 1px solid rgba(33, 33, 33, 0.2);
       
        &:first-child{
            padding-left: 0;
            border: none;
        }
        &:last-child {
            padding-right: 0;
        }
    }
    &__link {
        color: var(--accent-color);
        font-weight: 500;
        font-size: 18px;
        line-height: 1.22;
        letter-spacing: 0.02em;
    }
    @media screen and (min-width: $tablet) {
        display: none;}

}
.button-menu {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: transparent;
    position: absolute;
    top: 10px;
    right: 15px;
    padding: 0;
    box-sizing: border-box;
    @media screen and (min-width: $tablet) {
        display: none;}

    &__icon-close {
        width: 40px;
        height: 40px;
        background-color: #fff;
        z-index: 1;
        
        &:hover {
            fill: var(--accent-color);
        }
    }
    &__icon-menu {
        width: 40px;
        height: 40px;
       
        &:hover{
            fill: var(--accent-color);
        }
    }
 }